# General
QUESTION_MODE: daily
GAME_MODE: simple
MESSENGER: discord
TIMEZONE: US/Pacific
TAG_UNANSWERED_PLAYERS: False
# Questions
## Jeopardy
JEOPARDY_LOCAL_PATH: todo
FINAL_JEOPARDY_SCORE_SUB: 10000
## Knowledge Bowl
KNOWLEDGE_BOWL_LOCAL_PATH: todo
# Discord
DISCORD_BOT_TOKEN: todo
DISCORD_APP_ID: todo
DISCORD_CHANNEL_ID: todo