# General
JBOT_MESSENGER=discord
JBOT_TIMEZONE=US/Pacific
JBOT_TAG_UNANSWERED_PLAYERS=False

# Question selection
# JBOT_QUESTION_DATASET=jeopardy
# JBOT_QUESTION_DATASET=knowledge_bowl
# JBOT_QUESTION_DATASET=riddles_small
JBOT_QUESTION_DATASET=riddles_with_hints
# JBOT_QUESTION_DATASET=knowledge_bowl
# JBOT_QUESTION_DATASET=5th_grader
# JBOT_QUESTION_DATASET=general_trivia
# JBOT_QUESTION_DATASET=millionaire_easy
# JBOT_QUESTION_DATASET=millionaire_hard

# Question paths
JBOT_JEOPARDY_LOCAL_PATH=todo
JBOT_FINAL_JEOPARDY_SCORE_SUB=10000
JBOT_KNOWLEDGE_BOWL_LOCAL_PATH=todo
JBOT_RIDDLE_SMALL_LOCAL_PATH=todo
JBOT_RIDDLE_HINTS_LOCAL_PATH=todo
JBOT_5TH_GRADER_LOCAL_PATH=todo
JBOT_GENERAL_TRIVIA_LOCAL_PATH=todo
JBOT_MILLIONAIRE_EASY_LOCAL_PATH=todo
JBOT_MILLIONAIRE_HARD_LOCAL_PATH=todo

# Discord
JBOT_DISCORD_BOT_TOKEN=todo

# Roles
JBOT_FIRST_PLACE_ROLE_NAME="first place"

# Database
JBOT_DB_PATH=jbot.db

# Schedule
JBOT_MORNING_TIME=8:00
JBOT_REMINDER_TIME=19:00
JBOT_EVENING_TIME=20:00

# Costs
JBOT_REINFORCE_COST=25
JBOT_DISRUPT_COST=50
JBOT_SHIELD_COST=25

JBOT_WAGER_CAP_PERCENTAGE=25

# Gemini
# https://aistudio.google.com/app/api-keys
GEMINI_API_KEY=todo

# Bonus Points
JBOT_BONUS_FIRST_PLACE=10
JBOT_BONUS_FIRST_TRY=20
JBOT_BONUS_STREAK_PER_DAY=5
JBOT_BONUS_STREAK_CAP=25
JBOT_BONUS_BEFORE_HINT=10

# Emojis
JBOT_EMOJI_FASTEST="🏃"
JBOT_EMOJI_FIRST_TRY="🥇"
JBOT_EMOJI_STREAK="🔥"
JBOT_EMOJI_BEFORE_HINT="💅"
